/* Grundlegendes Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  color: #333;
}

/* Steuerung oben */
#controls {
  padding: 15px 20px;
  margin-top: 10px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

/* WSA Logo */
#logo {
  position: fixed;   /* Immer sichtbar, auch beim Scrollen */
  top: 30px;         /* Abstand vom oberen Rand */
  right: 30px;       /* Abstand vom rechten Rand */
  width: 400px;       /* Breite des Logos */
  height: auto;      /* Höhe automatisch proportional */
  z-index: 1000;     /* Sicherstellen, dass es über allem liegt */
}

label {
  font-size: 14px;
  font-weight: 500;
}

input[type="file"], button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #8300ff;
  cursor: pointer;
  font-size: 14px;
}

#selectBtn {
  font-size: 16px;
  padding: 10px 20px;     /* runde Form */
  border-radius: 50px;    /* auffällige Form */
/*  background: linear-gradient(45deg, #ff8800, #ffcc00); /* Farbverlauf */
  background: #8300ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* 3D-Effekt */
  transition: transform 0.2s, box-shadow 0.2s;
}

/* 3D Viewer Styling */
model-viewer {
  width: 80vw;
  max-width: 800px;
  height: 70vh;
  background: #e0e0e0;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

@media (max-width: 600px) {
  model-viewer {
    width: 95vw;
    height: 60vh;
  }
}
