/* Grundlegendes Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  color: #333;
}

/* Steuerung oben */
#controls {
  padding: 15px 20px;
  margin-top: 40px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
}

#viewerContainer {
  position: relative; /* relative zum Container */
  display: inline-block; /* größe passt sich an den Viewer an */
}

#sidebarContainer{
  display: flex;
  align-items: flex-start;
  padding: 20px;
}
#sidebar {
  position: absolute;       /* überlagert den Viewer */
  top: 150px;                /* etwas Abstand von oben */
  left: 20px;               /* Sidebar links */
  width: 490px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 10px;
  transition: transform 0.3s ease;
  transform: translateX(-160px); /* standardmäßig eingeklappt */
}
#sidebar.open {
  transform: translateX(0); /* aufgeklappt */
}
#toggleSidebar{
  width: 100%;
  padding: 10px 10px 10px 150px;
  border: none;
  background: #ffffff;
  color: #333;
  /* font-weight: bold; */
  font-family: "myFonts", Lexender-Regular;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 8px;
  text-align: left;         /* eingeklappt → Text linksbündig */
  transition: all 0.3s ease;
}
#sidebar.open #toggleSidebar{
  text-align: center;
  padding: 10px;        /* gleichmäßiges Padding */
}
#sidebarContent{
  display: none;  /*standardmäßig verborgen */
  flex-direction: column;
  gap: 10px;
}
#sidebarContent lable {
  display: flex;
  flex-direction: colum;
  font-size: 14px;
}

/* WSA Logo */
#logo {
  position: fixed;   /* Immer sichtbar, auch beim Scrollen */
  top: 30px;         /* Abstand vom oberen Rand */
  right: 30px;       /* Abstand vom rechten Rand */
  width: 400px;       /* Breite des Logos */
  height: auto;      /* Höhe automatisch proportional */
  z-index: 1000;     /* Sicherstellen, dass es über allem liegt */
}

label {
  font-size: 14px;
  font-family: "myFonts", Lexender-Regular;
  font-weight: 500;
}

input[type="file"], button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #8300ff;
  cursor: pointer;
  font-size: 14px;
  font-family: "myFonts", Lexender-Regular;
}

#selectBtn {
  font-family: "myFonts", Lexender-Regular;
  font-size: 14px;
  padding: 10px 20px;     /* runde Form */
  border-radius: 50px;    /* auffällige Form */
/*  background: linear-gradient(45deg, #ff8800, #ffcc00); /* Farbverlauf */
  background: #8300ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* 3D-Effekt */
  transition: transform 0.2s, box-shadow 0.2s;
}

#fullscreenBtn {
  position: absolute;
  border: none;
  left: -90px;          /* 60px links vom Viewer */
  top: 627px;
  background: #8300ff;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* 3D-Effekt */
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  font-family: "myFonts", Lexender-Regular;
  }

fullscreenBtn:hover{
  background: #555;
}
/*
#fullscreenImg {
  position: absolute;
  left: -60px;
  top: 50%;
  transform: translateY(-50%); 
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s;
  z-index: 1000;
}

#fullscreenImg:hover {
  transform: scale(1.1);
  transform: translateY(-50%);
}
*/
/* 3D Viewer Styling */
model-viewer {
  width: 80vw;
  max-width: 800px;
  height: 70vh;
  background: #e0e0e0;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

@media (max-width: 600px) {
  model-viewer {
    width: 95vw;
    height: 60vh;
  }
}

@font-face {
  font-family: "myFonts";
  src: url("data/fonts/Lexend-Regular.ttf") format(truetype), url("data/fonts/Lexend-Bold.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}
